@charset "utf-8";

html,body {width: 100%; height: 100%; margin: 0; padding: 0;}
body * {box-sizing: border-box;}
a {text-decoration: none; color: #000;}
ul, ul li {margin: 0; padding: 0; list-style-type: none;}

.container {position: fixed; top: 0; left: 0; width: 250px; height: 100%; background-color: #f1f1f1;}
.container li a {width: 100%; height: 100%; display: block; padding: 20px; transition: all 0.25s ease;}
.container li a.active {background-color: #04AA6D; color: #fff;}
.container li a:hover, .container li a:focus {background-color: #04AA6D; color: #fff;}

.content {margin-left: 250px; padding-left: 30px;}

@media screen and (max-width:999px) {
    .container {display: flex; position: absolute; top: 0; width: 100%; height: auto;}
    .container li {width: 25%; text-align: center;}
    .content {padding-top: 80px; padding-left: 50px; margin-left: 0;}
}





